<li class="micropost">
	<span class="content"><%= wrap(micropost.content) %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(micropost.created_at) %> ago.
	</span>
	<% 
		# This line is broken in Rails 3.0 
		# if current_user?(micropost.user) 
		# 
		# ..so instead we use the following
		user = micropost.user rescue User.find(micropost.user_id)
		if current_user?(user)		
		%>
		<%= link_to "delete", micropost,	:method => :delete,
		 																	:confirm => "You sure?",
																			:title => micropost.content %>
	<% end %>
</li>
	
